@import "_starter";

.cart-hr {
    display: none;
    @media (min-width: 768px) {
        display: block;
        border: 1px solid $sweet-light-green;
    }
}

.cart-menu {
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid $sweet-light-green;
    }
}

.font-size-24 {
    font-size: 24px;
    color: $sweet-green;
}

.font-size-20 {
    font-size: 20px;
    color: $sweet-green;
}

.font-size-16 {
    font-size: 16px;
    color: $sweet-green;
}

.font-bolds {
    font-weight: 600;
}

.p-top-bottom {
    padding: 8px 0;
}

.h2 {
    font-size: 24px;
    color: $sweet-green;
    font-weight: normal;
}

.h3 {
    font-size: 20px;
    color: $sweet-green;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h4 {
    font-size: 16px;
    color: $sweet-green;
    font-weight: normal;
}

.font-size-16 {
    font-size: 16px;
}

.cart-left-product {
    @media (min-width: 1024px) {
        overflow: hidden;
        margin-right: 20px;
        flex: 1 1 auto;
    }
}

.cart-left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    font-weight: 600;
    color: $sweet-green;
    font-size: 24px;
}

.cart-title-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    color: $sweet-green;

    @media (min-width: 768px) {
        background-color: $sweet-light-green;
    }
}

.cart-pay {
    width: 100%;
    height: 65px;
    background-color: $sweet-yellow;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $sweet-green;
}

.cart-list {
    padding: 30px 30px 0;
    @media (min-width: 768px) {
        margin-top: 33px;
        padding: 0;
    }
}

.cart-container {
    @media (min-width: 1024px) {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        width: 100%;
        max-width: $max-main-container;
        padding-top: 30px;
    }
}

.cart-item {
    margin-bottom: 30px;
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cart-card {
    width: 100%;
    display: flex;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.cart-product-info {
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-right: 40px;
    }
}

.cart-product-center {
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.product-text {
    @media (min-width: 768px) {
        width: 100px;
        margin-right: 28px;
        flex-grow: 1;
    }
}

.cart-img {
    width: 157px;
    height: 106px;
    min-width: 157px;
    margin-right: 16px;
    object-fit: cover;
    @media (min-width: 768px) {
        width: 110px;
        height: 110px;
        min-width: 110px;
        margin-right: 39px;
        object-fit: cover;
    }
}

.cart-count {
    display: flex;
    justify-content: auto;
}

.count-base {
    width: 48px;
    height: 48px;
    margin-top: 8px 0;
    border: 1px solid $sweet-light-green;
    color: $sweet-green;
    text-align: center;
}

.count-box {
    width: 48px;
    height: 48px;
    border: 1px solid $sweet-light-green;
    text-align: center;
    margin-right: 0;
    color: $sweet-green;
}

.item-price {
    width: 100%;
    border-top: 1px solid $sweet-light-green;
    border-bottom: 1px solid $sweet-light-green;
    color: $sweet-green;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    padding: 8px 0;
    @media (min-width: 768px) {
        width: 120px;
        min-width: 120px;
        margin-right: 28px;
        text-align: center;
        border: none;
    }
}

.right-total {
    @media (min-width: 1024px) {
        flex-shrink: 0;
        width: 300px;
    }
}

.right-group {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    color: $sweet-green;
    border: 1px solid $sweet-border-color;
    font-weight: 300;
    @media (min-width: 768px) {
        background-color: $sweet-green;
        color: $sweet-light-green;
    }
}

.order-title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    color: $sweet-green;
    font-weight: 600;
    @media (min-width: 768px) {
        background-color: $sweet-green;
        color: $sweet-white;
        border-bottom: 1px solid $sweet-white;
        padding: 0 8px;
    }
}

.cart-point {
    font-weight: bold;
    font-size: 20px;
}

.shopping-details {
    padding: 16px 28px;
}

.shopping-info {
    display: flex;
    justify-content: space-between;
}

.btn-delete {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        color: $sweet-green;
    }
}

.sweet-container {
    max-width: $max-main-container;
    margin: 0 auto;
}

.main-container {
    margin: 0 auto;
    padding-top: 100px;
    border: 2px solid $sweet-border-color;
    background-color: $sweet-white;
    font-family: "微軟正黑體";
    @media (min-width: 768px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @media (min-width: 1200px) {
        padding-left: 42px;
        padding-right: 42px;
    }
}