$max-main-container: 1200px;
$sweet-border-color: none;
$product-gap: 20px;

$sweet-white: #fff;
$sweet-green: #3f5d45;
$sweet-light-green: #eaf0ed;
$sweet-blue: blue;
$sweet-yellow: #ffe180;

.cart-hr {
    border: 1px solid $sweet-light-green;
}

.abc1 {
    // border: 1px solid blue;
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.def1 {
    @media (min-width: 768px) {
        width: 100%;
        display: block;
        align-items: center;
    }
}

.font-size-24 {
    font-size: 24px;
    color: $sweet-green;
}
.font-size-20 {
    font-size: 20px;
    color: $sweet-green;
}

.font-size-16 {
    font-size: 16px;
    color: $sweet-green;
}

.font-bolds {
    font-weight: 600;
}

.p-top-bottom {
    padding: 8px 0;
}

.h2 {
    font-size: 24px;
    color: $sweet-green;
    font-weight: normal;
}
.h3 {
    width: 100%;
    font-size: 20px;
    color: $sweet-green;
    font-weight: 300;
}
.h4 {
    font-size: 16px;
    color: $sweet-green;
    font-weight: normal;
}

.font-size-16 {
    font-size: 16px;
}

.cart-left-product {
    @media (min-width: 768px) {
        margin-right: 20px;
        width: 680px;
    }
}

.cart-left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    font-weight: 600;
    color: $sweet-green;
    font-size: 24px;
}
.cart-title-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    color: $sweet-green;

    @media (min-width: 768px) {
        background-color: $sweet-light-green;
    }
}

.cart-pay {
    width: 100%;
    height: 65px;
    background-color: $sweet-yellow;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $sweet-green;
}

.cart-list {
    padding: 30px 30px 0;
    @media (min-width: 768px) {
        margin-top: 33px;
        padding: 0;
    }
}

.cart-container {
    // padding-top: 100px;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        width: 100%;
        max-width: $max-main-container;
        padding-top: 30px;
    }
}
.cart-item {
    margin-bottom: 30px;
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // border-bottom: 1px solid $sweet-light-green;
    }
    // align-items: center;
}
.cart-card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // display: block;
    }

    //     display: flex;
    //     justify-content: space-between;
}

.cart-product-info {
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // border: 1px solid red;
    }
}
.cart-img {
    width: 157px;
    height: 106px;
    margin-right: 16px;
    object-fit: cover;
    // width: 110px;
    min-width: 157px;
}

.cart-count {
    display: flex;
    justify-content: auto;
}

.count-base {
    width: 48px;
    height: 48px;
    margin-top: 8px 0;
    border: 1px solid $sweet-light-green;
    color: $sweet-green;
    text-align: center;
}

.count-box {
    width: 48px;
    height: 48px;
    border: 1px solid $sweet-light-green;
    text-align: center;
    margin-right: 0;
    color: $sweet-green;
}

.item-price {
    width: 100%;
    border-top: 1px solid $sweet-light-green;
    border-bottom: 1px solid $sweet-light-green;
    color: $sweet-green;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    padding: 8px 0;
    @media (min-width: 768px) {
        width: 120px;
        text-align: center;
        border: none;
    }
}

.right-total {
    width: 100%;
    @media (min-width: 768px) {
        width: 300px;
    }
}

.right-group {
    width: 100%;
    // padding: 16px 28px;
    font-weight: 300;
    font-size: 16px;
    color: $sweet-green;
    border: 1px solid $sweet-border-color;
    font-weight: 300;

    @media (min-width: 768px) {
        background-color: $sweet-green;
        color: $sweet-light-green;
    }
}

.order-title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: $sweet-light-green;
    color: $sweet-green;
    font-weight: 600;

    @media (min-width: 768px) {
        background-color: $sweet-green;
        color: $sweet-white;
        border-bottom: 1px solid $sweet-white;
        padding: 0 8px;
    }
}

.cart-point {
    font-weight: bold;
    font-size: 20px;
}

.Shopping-details {
    padding: 16px 28px;
}
.Shopping-info {
    display: flex;
    justify-content: space-between;
}

.btn-delete {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.sweet-container {
    max-width: $max-main-container;
    margin: 0 auto;
}

.main-container {
    // max-width: $max-main-container;
    margin: 0 auto;
    padding-top: 100px;
    border: 2px solid $sweet-border-color;
    background-color: $sweet-white;
    font-family: "微軟正黑體";

    @media (min-width: 768px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @media (min-width: 1200px) {
        // margin: 0 auto;
        padding-left: 42px;
        padding-right: 42px;
    }
}

.sweet-header {
    width: 100%;
    height: 88px;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid $sweet-border-color;
    background-color: $sweet-white;
    z-index: 100;
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding-left: 42px;
        padding-right: 42px;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    max-width: $max-main-container;
    // position: fixed;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #fff;
    border: 2px solid $sweet-white;
    z-index: 100;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
}

.btn-hamburger-menu {
    @media (min-width: 768px) {
        display: none;
    }
}

.logo-text-dark {
    width: 114px;
    height: 18px;
    background: url(../images/sweet/logotype-sm-dark.svg) no-repeat;
    font-size: 0;
    @media (min-width: 768px) {
        width: 220px;
        height: 40px;
        background-image: url(../images/sweet/logo-all-dark.svg);
    }
}

.header-navbar {
    display: none;
    padding: 10px;
    color: $sweet-green;
    @media (min-width: 768px) {
        display: flex;
        margin-left: auto;
        margin-right: 48px;
    }
}

.nav-item:not(:last-child) {
    margin-right: 60px;
}

.header-logo {
    width: 100%;
    height: 500px;
    background-color: $sweet-border-color;
    border: none;
    top: 100px;
}

.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.icon-shopping,
.icon-menu {
    font-size: 24px;
    color: #3f5d45;
}

.sweet-banner {
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    width: 100%;
    height: 277px;
    position: relative;
    background: url(../images/sweet/sweetast-00.jpg) no-repeat;
    background-size: cover;
    max-width: $max-main-container;
    @media (min-width: 768px) {
        width: 100%;
        height: 496px;
        margin: 12px auto 60px;
    }
    @media (min-width: 1200px) {
        width: 100%;
    }
}

.banner-text {
    width: 56px;
    height: 216px;
    top: 32px;
    right: 32px;
    border: 1px solid $sweet-border-color;
    background: url(../images/sweet/header-text.svg) no-repeat;
    font-size: 0;
    @media (min-width: 768px) {
        width: 88px;
        height: 328px;
        top: 40px;
        right: 40px;
    }
}

.sweet-product-container {
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }
}

.left-aside {
    flex-shrink: 0;
    font-size: 24px;
    text-align: center;
    color: #eaf0ed;
    @media (min-width: 768px) {
        width: 300px;
        margin-right: 20px;
    }
}

.aside-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background: #3f5d45;
}

.right-product {
    padding: 30px 32px 0;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
    }
    @media (min-width: 1200px) {
        padding-right: 0;
    }
}

.product-card {
    width: 100%;
    margin-bottom: 32px;
    position: relative;
    .btn-heart {
        position: absolute;
        top: 0;
        right: 0;
    }
    @media (min-width: 768px) {
        width: calc((100% - #{$product-gap}) / 2);
        margin-right: #{$product-gap};
        margin-bottom: #{$product-gap};
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @media (min-width: 1200px) {
        width: calc((100% - #{$product-gap} * 2) / 3);
        &:nth-child(2n) {
            margin-right: #{$product-gap};
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.product-group {
    text-decoration: none;
}

.product-img {
    position: relative;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-today {
    position: absolute;
    top: 0;
    left: 16px;
    text-align: center;
    width: 36px;
    padding: 10px;
    position: absolute;
    background-color: $sweet-green;
    color: #fff;
    text-align: center;
}

.product-info {
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: $sweet-green;
}

.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #eaf0ed;
    text-align: center;
    font-weight: 300;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #eaf0ed;
    font-weight: bold;
}

.btn-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: $sweet-green;
}

.btn-buy {
    width: 100%;
    height: 65px;
    background-color: #eaf0ed;
    font-size: 24px;
    text-align: center;
    color: $sweet-green;
    font-weight: bold;
}

.sweet-class {
    color: #eaf0ed;
    background-color: #fff;
}

.aside-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border: 1px solid $sweet-light-green;
    font-size: 24px;
    color: $sweet-green;
}

.class-select {
    background-color: $sweet-light-green;
}

.a-link-style {
    text-decoration: none;
    color: inherit;
    // border: 1px solid red;
    //@include rb;
    //font-size: rem(18px);
}

.choice-box {
    display: flex;
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.choice-list {
    display: flex;
    justify-content: center;
    width: 100%;
    @media (min-width: 768px) {
        justify-content: flex-end;
        padding: 0;
        margin-bottom: 60px;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #eaf0ed;
    text-align: center;
    font-size: 20px;
    color: #3f5d45;
    border-left: none;
    &.page-choice {
        background-color: #3f5d45;
        color: #eaf0ed;
    }
}

.border-left-1 {
    border-left: 1px solid #eaf0ed;
}

.contact-us {
    // margin: 30px auto 0;
    padding: 32px;
    background-color: $sweet-green;
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 32px 42px;
    }
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #eaf0ed;
}

.logo-light {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    object-fit: cover;
}

.sweet-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-top: 30px;
    @media (min-width: 768px) {
        justify-content: space-between;
        width: 360px;
        margin-top: 0;
    }

    background-color: #eaf0ed;
    color: $sweet-green;
}

.mail-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mail-icon {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 56px;
}

.mail-input {
    width: 80%;
    font-size: 30px;
    color: $sweet-green;
}

.arrow {
    width: 64px;
    height: 56px;
    background-color: #ffe180;
    color: $sweet-green;
    text-align: center;
}

.icon-mail {
    font-size: 18px;
    background-color: #eaf0ed;
    color: $sweet-green;
    width: 64px;
    height: 56px;
}

.sweet-footer {
    margin: 0 auto;
    width: 100%;
    height: 320px;
    padding: 30px;
    position: relative;
    background-color: #eaf0ed;
    color: $sweet-green;

    @media (min-width: 768px) {
        width: 100%;
        height: 340px;
        padding: 40px 40px;
    }
    @media (min-width: 1200px) {
        width: 100%;
        height: 340px;

        // padding: 40px 122px;
    }
}

.footer-center {
    position: relative;
    margin: 0 auto;
    max-width: $max-main-container;
}
.sweet-logo-text {
    width: 176px;
    @media (min-width: 768px) {
        padding-bottom: 65px;
    }
}

.social-box {
    width: 200px;
}

.icon-social {
    width: 32px;
    height: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.copyright {
    margin-top: 10px;
    @media (min-width: 768px) {
        position: absolute;
        bottom: 10px;
        right: 32px;
    }
}

.sm-footer-text {
    display: none;
    @media (min-width: 768px) {
        display: block;
        width: 64px;
        position: absolute;
        top: 0;
        right: 32px;
    }
}

.contact-us-center {
    max-width: $max-main-container;
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
