@import "_starter";
$sweet-border-color: none;
$sweet-green: #3f5d45;

.main-container {
    max-width: 1200px;
    height: 2500px;
    margin: 0 auto;
    padding-top: 88px;
    border: 2px solid $sweet-border-color;
    background-color: #fff;
    font-family: "微軟正黑體";
}

.header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 88px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
    border: 1px solid $sweet-border-color;
    background-color: #fff;
    @media (min-width: 768px) {
        justify-content: start;
    }
}

.btn-menu {
    @media (min-width: 768px) {
        display: none;
    }
}

.h1-logo {
    width: 114px;
    height: 18px;
    background: url(../images/sweet/logotype-sm-dark.svg) no-repeat;
    font-size: 0;
    @media (min-width: 768px) {
        width: 220px;
        height: 41px;
        background-image: url(../images/sweet/logo-all-dark.svg);
    }
}

.nav-item:not(:last-child) {
    margin-right: 56px;
}

.nav-link {
    border: 1px solid $sweet-border-color;
    color: #3f5d45;
    text-decoration: none;
}

.header-navbar {
    display: none;
    padding: 10px;
    @media (min-width: 768px) {
        display: flex;
        margin-left: auto;
        margin-right: 48px;
    }
}

.header-logo {
    width: 100%;
    height: 500px;
    background-color: $sweet-border-color;
    border: none;
    top: 100px;
}

.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.icon-shopping,
icon-menu {
    color: #3f5d45;
}

.banner {
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    width: 100%;
    height: 280px;
    position: relative;
    background: url(../images/sweet/sweetast-00.jpg) no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
        width: 100%;
        height: 496px;
        margin: 48px auto;
    }
}

.banner-text {
    width: 56px;
    height: 216px;
    // position: absolute;
    top: 32px;
    right: 32px;
    border: 1px solid $sweet-border-color;
    background: url(../images/sweet/header-text.svg) no-repeat;
    font-size: 0;
    @media (min-width: 768px) {
        width: 88px;
        height: 328px;
        top: 40px;
        right: 40px;
    }
}

.aside {
    // height: 64px;
    width: 100%;
    // border: $sweet-border-color;
    background: $sweet-green;
    font-size: 24px;
    // line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #eaf0ed;
    //border: 1px solid $sweet-border-color;
    @media (min-width: 768px) {
        width: 320px;
        // height: 54px;
    }
}

.class-title {
    background: #3f5d45;
    padding: 12px 0;
}

.sweet-class {
    color: #eaf0ed;
    background-color: #fff;
}

.class-text {
    list-style-type: none;
    // height: 64px;
    color: $sweet-green;
}

.list-select {
    background-color: #eaf0ed;
}

.link-style {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    color: inherit;
    border: 1px solid red;
    //@include rb;
    //font-size: rem(18px);
}

.link-style2 {
    display: block;
    padding: 12px ;
    text-decoration: none;
    color: inherit;
    border: 1px solid blue;
    //@include rb;
    //font-size: rem(18px);
}

.right {
    // color: inherit;
}
.product {
    width: 100%; 
   
}
.product-img{
    width: 100%;  
}
.product-icons{
    position: absolute;
   
}

.today{

    writing-mode: vertical-lr 
}
.info {
    display: flex;
    justify-content: space-around ;
    border-left: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
    // padding:32px;
    font-size: 24px;
    color: $sweet-green;
    
}
.price{
    font-weight:bold;
}
.buy {
    width: 100%;
    padding:16px;
    background-color: #eaf0ed;
    font-size: 36px;
    text-align: center;
    color: $sweet-green;
    font-weight:bold;
}

.item{
    padding: 32px;
}


