@import "_starter";

.sweet-container {
    max-width: $max-main-container;
    margin: 0 auto;
}

.main-container {
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid $sweet-border-color;
    background-color: $sweet-white;
    font-family: "微軟正黑體";
    @media (min-width: 768px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @media (min-width: 1200px) {
        padding-left: 42px;
        padding-right: 42px;
    }
}

.sweet-banner {
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    width: 100%;
    height: 277px;
    position: relative;
    background: url(../images/sweet/sweetast-00.jpg) no-repeat;
    background-size: cover;
    max-width: $max-main-container;
    @media (min-width: 768px) {
        width: 100%;
        height: 496px;
        margin: 12px auto 60px;
    }
    @media (min-width: 1200px) {
        width: 100%;
    }
}

.banner-text {
    width: 56px;
    height: 216px;
    top: 32px;
    right: 32px;
    border: 1px solid $sweet-border-color;
    background: url(../images/sweet/header-text.svg) no-repeat;
    font-size: 0;
    @media (min-width: 768px) {
        width: 88px;
        height: 328px;
        top: 40px;
        right: 40px;
    }
}

.sweet-product-container {
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
    }
}

.left-aside {
    flex-shrink: 0;
    font-size: 24px;
    text-align: center;
    color: #eaf0ed;
    @media (min-width: 768px) {
        width: 300px;
        margin-right: 20px;
    }
}

.aside-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background: #3f5d45;
}

.right-product {
    padding: 30px 32px 0;
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
    }
    @media (min-width: 1200px) {
        padding-right: 0;
    }
}

.product-card {
    width: 100%;
    margin-bottom: 32px;
    position: relative;
    .btn-heart {
        position: absolute;
        top: 0;
        right: 0;
    }
    @media (min-width: 768px) {
        width: calc((100% - #{$product-gap}) / 2);
        margin-right: #{$product-gap};
        margin-bottom: #{$product-gap};
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @media (min-width: 1200px) {
        width: calc((100% - #{$product-gap} * 2) / 3);
        &:nth-child(2n) {
            margin-right: #{$product-gap};
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.product-group {
    text-decoration: none;
}

.product-img {
    position: relative;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-today {
    position: absolute;
    top: 0;
    left: 16px;
    text-align: center;
    width: 36px;
    padding: 10px;
    position: absolute;
    background-color: $sweet-green;
    color: #fff;
    text-align: center;
}

.product-info {
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: $sweet-green;
}

.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #eaf0ed;
    text-align: center;
    font-weight: 300;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #eaf0ed;
    font-weight: bold;
}

.btn-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: $sweet-green;
}

.btn-buy {
    width: 100%;
    height: 65px;
    background-color: #eaf0ed;
    font-size: 24px;
    text-align: center;
    color: $sweet-green;
    font-weight: bold;
}

.sweet-class {
    color: #eaf0ed;
    background-color: #fff;
}

.aside-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border: 1px solid $sweet-light-green;
    font-size: 24px;
    color: $sweet-green;
}

.class-select {
    background-color: $sweet-light-green;
}

.choice-box {
    display: flex;
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.choice-list {
    display: flex;
    justify-content: center;
    width: 100%;
    @media (min-width: 768px) {
        justify-content: flex-end;
        padding: 0;
        margin-bottom: 60px;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #eaf0ed;
    text-align: center;
    font-size: 20px;
    color: #3f5d45;
    border-left: none;
    &.page-choice {
        background-color: #3f5d45;
        color: #eaf0ed;
    }
}

.border-left-1 {
    border-left: 1px solid #eaf0ed;
}