.header{border:1px red solid;position:fixed;width:100%}.header-logo{width:100%;height:500px;background-color:red;border:none;top:100px}.nav-bar{position:fixed;display:flex;height:50px;width:100%;background-color:#fff}
