%base-font {
	font-family: Arial,"PMingLiU";
}
%kozuka-font {
	font-family: "Kozuka Gothic Pr6N","Microsoft JhengHei";
}
%msjh-font {
	font-family: -apple-system-body,"Microsoft JhengHei", sans-serif;
}
%msjhI-font {
	font-family: -apple-system,"Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}
%msyh-font {
	font-family: "Microsoft YaHei","Microsoft JhengHei";
}
%bk-font {
	font-family: "DFKai-SB";
}
%dfy-m-font {
	font-family: "華康中圓體","Microsoft JhengHei";
}
%dfy-b-font {
	font-family: "華康粗圓體","Microsoft JhengHei";
}