$visible-width:960px;
$gutter:12px;
$btn-border-radius:5px;
$gap-componer-mobile:32px;
$gap-componer-tablet:40px;
$gap-h-mobile:16px;
$gap-v-mobile:32px;
$gap-h-tablet:24px;
$gap-v-tablet:40px;
$ease-func:cubic-bezier(.7, 0, .3, 1);

$main-color: #00adaf;
$dark-green: #005d63;
$dark-red: #dc062b;
$card-shadow: 0 0 4px rgba(#000, 0.2);
$link-color: #1d73e2;
$type-colors: ('427':#6ccfe6, '428':#7f68b1, '429':#e75251, '430':#00866d, '431':#8b5729, '432':#3cb25e, '433':#f7c51f);
