@import '_starter';

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('eot'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

html,
body {
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
body {
    height: 100%;
    font-family: 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Microsoft JhengHei', sans-serif;
    line-height: 1.5;
    button,
    select {
        font-family: 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Segoe UI', Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, 'Microsoft JhengHei', sans-serif;
    }
}

.hide-switch {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border: none;
}